[Unit]
Description=Waydroid session

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/waydroid session start
ExecStop=/usr/bin/waydroid session stop

[Install]
WantedBy=user-session.target
