[Unit]
Description=Waydroid container
After=graphical.target

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/waydroid container start
ExecStop=/usr/bin/waydroid container stop

[Install]
WantedBy=graphical.target
